@media (max-width: 750px)
{
    .fkeori
    {
        flex-direction: column;
    }

    h1
    {
        font-size: 10vw !important;
    }

    img
    {
        width: 95vw;
    }

    .container
    {
        position: fixed;
        min-width: 100dvw !important;
        min-height: 100dvh !important;
        overflow-x: hidden;

    }

    h1
    {
        width: 100dvw;
    }
}