body.light {
    --primary: #006e1c;
    --on-primary: #ffffff;
    --primary-container: #94f990;
    --on-primary-container: #002204;
    --secondary: #52634f;
    --on-secondary: #ffffff;
    --secondary-container: #d5e8cf;
    --on-secondary-container: #111f0f;
    --tertiary: #38656a;
    --on-tertiary: #ffffff;
    --tertiary-container: #bcebf0;
    --on-tertiary-container: #002023;
    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #ffdad6;
    --on-error-container: #410002;
    --background: #fcfdf6;
    --on-background: #1a1c19;
    --surface: #f9faf4;
    --on-surface: #1a1c19;
    --surface-variant: #dee5d8;
    --on-surface-variant: #424940;
    --outline: #72796f;
    --outline-variant: #c2c9bd;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #2f312d;
    --inverse-on-surface: #f0f1eb;
    --inverse-primary: #78dc77;
    --surface-dim: #dadad4;
    --surface-bright: #f9faf4;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #f3f4ee;
    --surface-container: #eeeee8;
    --surface-container-high: #e8e9e2;
    --surface-container-highest: #e2e3dd;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
body, ::backdrop {
    background: var(--background);
}

.ticket-grid {
    display: grid;
    gap: 0.5rem;
    margin: 1rem;
    height: -webkit-fill-available;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ticket-item {
    border: 2px solid var(--outline);
    border-radius: 4px;
    display: inline-flex;
    overflow: auto;
    flex-direction: column;
}

.ticket-item button.edit,
.ticket-item button.delete {}

.ticket-item button.edit {}

.ticket-item button.delete {
    background-color: rgb(91, 0, 0);
}

.add-ticket {
    border: 2px dashed var(--outline);
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    display: grid;
    place-items: center;
    align-content: center;
}

dialog {
    padding: 1rem;
    background-color: var(--surface-bright) !important;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    margin: 0;
}

.field {
    margin: 1em 0;
}

.itemthing {
    border-radius: 10px !important;
    background-color: var(--surface-variant) !important;
    flex-grow: 0 !important;
    padding: 0.3em 0.5em;
    font-size: 1.5em;
    display: grid;
    align-content: center;
    width: 100%;
}

dialog > ul > .itemthing {
    background-color: var(--surface-variant) !important;
}

.itemthing.selected {
    background-color: var(--inverse-primary) !important;
    box-shadow: inset 0 0 0 2px var(--primary);
}

#dialogOverlay {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background: black;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) allow-discrete;
}
#foodList {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
}
